*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, sans-serif;
}
/* |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */
nav{
    display: flex;
    justify-content: space-evenly;
    background-color: #1f2937
}

nav div h1{
    color: aliceblue;
    font-size: 50px;
    margin: 10px;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
#paginas{
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 50px;
}
nav .paginas{
    border: 2px solid aliceblue;
    border-radius: 5px;
    background-color: aliceblue;
    width: 100px;
    height: 50px;
    /* flex ERRO! */
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.paginas a{
    color: #1f2937;
     font-size: 20px;
    gap: 30px;
    text-decoration: none;
}

/* ||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */