*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, sans-serif;
}
/* |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */
nav{
    display: flex;
    justify-content: space-evenly;
    background-color: #1f2937
}

nav div h1{
    color: aliceblue;
    font-size: 50px;
    margin: 10px;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
#paginas{
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 50px;
}

.paginas:hover{
    border: 2px solid rgb(99, 128, 20);
    background-color: rgb(99, 128, 20);
    padding: 10px;
    box-shadow: 0px 1px 12px #066eff (0, 0, 0, 0.5) ;
   

}

nav .paginas{
    border: 2px solid aliceblue;
    border-radius: 5px;
    background-color: aliceblue;
    width: 100px;
    height: 50px;
    /* flex ERRO! */
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.paginas a{
    color: #1f2937;
     font-size: 20px;
    gap: 30px;
    text-decoration: none;
}

/* ||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */
main{
    font-family: Arial, sans-serif;
}
header{
    display: flex;
    flex-direction: column;
align-items: center;
justify-content: center;
gap: 20px;
}

header img{
    margin-top : 50px;
    margin-bottom: 10px;
    width: 150px;
    height: 150px;
    border-radius: 50px;
    
}

header h2 {
    color: #1f2937;
    font-size: 40px;
}
header .cargo{
    color: #1f2937a4;
}
header .descricao{
    color: #1f2937a4;
}

.link{
    font-size: 25px;
    gap: 130px;
    color: black;
}

.link a{
    color: #1f2937;
}




/* //////////////////////////////////////////////////////////////////////////////////////////////// */

.habilidades h2{
    background-color: aqua;
    margin: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.lista ul{
    background-color: rgb(123, 255, 0);
    margin: 10px;
    padding: 20px;
    gap: 50px;
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.lista ul li{
    color: aliceblue;
    border: 2px solid #2564eb8f;
    border-radius: 5px;
    background-color: #2564eb96;
    padding: 10px;
}
/* //////////////////////////////////////////////////////////////////////////////////////////////// */
.experiencia h2{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.experiencia dl{
    padding: 10px;
   display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
}
dt{
    margin: 5px;
}
/* ///////////////////////////////////////////////////////////////////////////////////////////////// */
.sobremim {
    margin: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.sobremim h2{
    margin: 5px;
    

}

.sobremim p{
    margin: 5px;
    padding: 5px;
    background-color: aqua;
    
}
/* ||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */
footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}